<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Formulario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bg-primary bg-opacity-10">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="h2 col-7 text-center py-5">Formulario de ingreso de Productos</h1>
            <form id="formProds" class="col-6">
                <div class="mb-3">
                    <label for="formTitle" class="form-label">TITULO</label>
                    <input type="text" class="form-control" id="formTitle" aria-describedby="emailHelp" name="title">
                    <div id="emailHelp" class="form-text">Ingrese nombre del producto.</div>
                </div>
                <div class="mb-3">
                    <label for="formPrice" class="form-label">PRECIO</label>
                    <input type="number" class="form-control" id="formPrice" name="price">
                    <div id="emailHelp" class="form-text">Ingrese precio del producto.</div>
                </div>
                <div class="mb-3">
                    <label for="formThumbnail" class="form-label">IMAGEN</label>
                    <input type="text" class="form-control" id="formThumbnail" name="thumbnail">
                    <div id="emailHelp" class="form-text">Ingrese imágen del producto.</div>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary" value="Cargar producto">
                </div>
            </form>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <table class="col-6 table table-primary text-center">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Imagen</th>
                    </tr>
                </thead>
                <tbody id="productList">
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center   bg-secondary bg-opacity-10 p-5">
       <h3>Centro de Mensajes</h3>
       <div class="container p-5">
           <div class="row justify-content-center align-items-center gap-3">
                <form class="col-8">
                    <input id="email" type="email" class="w-100" placeholder="Ingrese su email">
                </form>
                <div class="col-8 d-flex justify-content-center ">
                    <ul  id="msgContainer" class="list-group">

                    </ul>
                </div>
                <form id="formMsg" class="form-floating col-8 d-flex flex-column justify-content-center">
                    <textarea id="msgContent" class="form-control" placeholder="Leave a comment here"  style="height: 100px"></textarea>
                    <label class="mx-2" for="floatingTextarea2">Escriba su mensaje</label>
                    <input id="btnSendMsg" type="submit" class="btn btn-outline-dark mt-3" value="Enviar mensaje">
                </form>        
           </div>
       </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="../index.js"></script>
</body>
</html>